@import "tailwindcss";


:root {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}

body {
  margin: 0;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}

button {
  user-select: none;
  cursor: pointer;
}

